---
// Importa el componente Image y la imagen
import { Image } from "astro:assets";
import imagen1slider from "../../public/images/slider1Desktop.webp";
import imagen2slider from "../../public/images/slider2Desktop.webp";
import imagen3slider from "../../public/images/slider3Desktop.webp";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Ofrecemos servicios de montaje de muebles, tapicería y mobiliario de descanso profesionales y de alta calidad para hogares y negocios ademas de posdicionamiento de mercancía. Contáctanos para obtener el mejor servicio de montaje en Córdoba, Sevilla y Huelva."/>
    <title>Montaje de Muebles Carlos Chaves S.L.</title>
  </head>
  <body>
    <nav class="border-gray-200 bg-gray-900">
      <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <div class="flex items-center">
          <span  class="self-center text-2xl font-semibold whitespace-normal dark:text-white" style="display: flex; flex-wrap: wrap;">Montaje de Muebles Carlos Chaves</span>
        </div>
        <button
          data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 ml-3 text-sm rounded-lg md:hidden focus:outline-none focus:ring-2 text-gray-400 hover:bg-gray-700 focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg  class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
          <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0 bg-gray-800 md:bg-gray-900 border-gray-700">
            <li>
              <a  href="#about" class="block py-2 pl-3 pr-4 rounded md:border-0 md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white md:hover:bg-transparent">Nosotros</a>
            </li>
            <li>
              <a href="#cards" class="block py-2 pl-3 pr-4 rounded md:border-0 md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white md:hover:bg-transparent">Servicios</a>
            </li>
            <li>
              <a href="#contact" class="block py-2 pl-3 pr-4 rounded md:border-0 md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white md:hover:bg-transparent">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main>
      <section class="bg-center bg-no-repeat bg-[url('/images/slider1Desktop.webp')] bg-gray-700 bg-blend-multiply">
        <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
          <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl"> Da vida a tus espacios </h1>
          <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">
            Empresa dedicada a la distribución y montajes de muebles de todo
            tipo a cliente final, domicilio, actualmente en Córdoba, Sevilla y
            Huelva. Tambien nos dedicamos a la logistica integral del mueble
            tanto a particulares como a empresas. Ademas de entregas de
            tapicería a domicilio de tiendas especializadas.
          </p>
          <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
            <a href="#contact" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-900">
              Contactanos
              <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"  d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </a>
          </div>
        </div>
      </section>
      <section>
        <div id="default-carousel" class="bg-gray-900 border-gray-200 relative w-full" data-carousel="slide">
          <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <Image class="centered-image" src={imagen1slider} alt="imagen1slider"/>
            </div>
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <Image class="centered-image" src={imagen2slider} alt="imagen2slider"/>
            </div>
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <Image class="centered-image" src={imagen3slider} alt="imagen3slider"/>
            </div>
          </div>
          <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
            <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
          </div>
          <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
            <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-gray-800/30 group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-gray-800/70 group-focus:outline-none">
              <svg aria-hidden="true" class="w-5 h-5 sm:w-6 sm:h-6 text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
              </svg>
              <span class="sr-only">Previous</span>
            </span>
          </button>
          <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
            <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-gray-800/30 group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-gray-800/70 group-focus:outline-none">
              <svg aria-hidden="true" class="w-5 h-5 sm:w-6 sm:h-6 text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
              </svg>
              <span class="sr-only">Next</span>
            </span>
          </button>
        </div>
      </section>
      <section>
        <div id="cards" class="bg-gray-900 border-gray-200 grid grid-cols-1 md:grid-cols-3 gap-4">
          <div class="grid gap-4">
            <div class="max-w-sm p-6 border rounded-lg shadow bg-gray-800 border-gray-700">
              <Image src="../images/dresser.svg" alt="dresser" width="40" height="20" />
                <h5 class="mb-2 text-2xl font-semibold tracking-tight text-white">
                  Reparto y montaje de muebles
                </h5>
              <p class="mb-3 font-normal text-gray-400">
                Nuestro servicio de reparto y montaje de muebles garantiza una
                entrega segura y profesional de los productos adquiridos por
                nuestros clientes. Además, nuestro equipo especializado se
                encarga de montar los muebles en el lugar designado, asegurando
                que estén correctamente ensamblados y listos para su uso.
              </p>
            </div>
            <div class="max-w-sm p-6 border rounded-lg shadow bg-gray-800 border-gray-700">
              <Image src="../images/warehouse.svg" alt="warehouse" width="40" height="20" />
              <h5 class="mb-2 text-2xl font-semibold tracking-tight text-white">
                  Posicionamiento de mercancía
                </h5>
              <p class="mb-3 font-normal text-gray-400">
                Ofrecemos un servicio de almacenamiento seguro y estratégico
                para los productos de nuestros clientes, preparándolos para su
                posterior reparto. Contamos con amplias instalaciones que
                permiten organizar la mercancía de manera eficiente, asegurando
                un acceso fácil y rápido cuando sea necesario.
              </p>
            </div>
          </div>
          <div class="grid gap-4">
            <div class="max-w-sm p-6 border rounded-lg shadow bg-gray-800 border-gray-700">
              <Image src="../images/chair.svg" alt="chair" width="40" height="20" />
                <h5 class="mb-2 text-2xl font-semibold tracking-tight text-white">
                  Reparto y montaje de tapicería
                </h5>
              <p class="mb-3 font-normal text-gray-400">
                Proporcionamos un servicio completo de reparto y montaje de
                tapicería para los muebles de nuestros clientes. Nos encargamos
                de entregar los tejidos y materiales seleccionados, brindando un
                acabado impecable.
              </p>
            </div>
          </div>
          <div class="grid gap-4">
            <div class="max-w-sm p-6 border rounded-lg shadow bg-gray-800 border-gray-700">
              <Image src="../images/king_bed.svg" alt="king_bed" width="40" height="20" />
                <h5 class="mb-2 text-2xl font-semibold tracking-tight text-white">
                  Reparto y montaje de mobiliario de descanso
                </h5>
              <p class="mb-3 font-normal text-gray-400">
                Ofrecemos un servicio especializado en el reparto y montaje de
                mobiliario de descanso, como camas, canapés y colchones. Nuestro
                equipo se encarga de entregar y ensamblar estos productos,
                asegurando la comodidad y el descanso óptimo de nuestros
                clientes.
              </p>
            </div>
            <div class="max-w-sm p-6 border rounded-lg shadow bg-gray-800 border-gray-700">
              <Image src="../images/delete.svg" alt="trash" width="40" height="20" />
                <h5 class="mb-2 text-2xl font-semibold tracking-tight text-white">
                  Recogida de usados
                </h5>
              <p class="mb-3 font-normal text-gray-400">
                Nos ocupamos de la recogida de muebles usados, brindando a
                nuestros clientes una solución práctica y responsable para
                deshacerse de sus piezas antiguas. Nuestro servicio de recogida
                asegura una disposición adecuada de los muebles, a través de
                reciclaje o eliminación adecuada.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section id="contact" class="bg-gray-900 border-gray-200 flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
        <div class="w-full max-w-md p-4 border rounded-lg shadow sm:p-8 bg-gray-800 border-gray-700">
          <div class="flex items-center justify-center mb-4">
            <h5 class="text-xl font-bold leading-none text-white">Contacto</h5>
          </div>
          <div class="flow-root">
            <ul role="list" class="divide-y divide-gray-700">
              <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                  <div class="flex-shrink-0">
                    <svg height="1em" viewBox="0 0 512 512"><path fill="#BDBDBD" d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg>
                  </div>
                  <div class="flex-1 min-w-0">
                    <p class="text-sm font-medium truncate text-white">
                      <Image src="/images/mail.png" alt="mail" width="250" height="20"/>
                    </p>
                  </div>
                </div>
              </li>
              <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                  <div class="flex-shrink-0">
                    <svg height="1em" viewBox="0 0 512 512"> <path fill="#BDBDBD" d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/></svg>
                  </div>
                  <div class="flex-1 min-w-0">
                    <p class="text-sm font-medium truncate text-white">
                      620746627
                    </p>
                  </div>
                </div>
              </li>
              <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                  <div class="flex-shrink-0">
                    <svg height="1em" viewBox="0 0 448 512"><path fill="#BDBDBD" d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/></svg>                  </div>
                  <div class="flex-1 min-w-0">
                    <p class="text-sm font-medium truncate text-white">
                      <a href="https://www.linkedin.com/in/carlos-ch%C3%A1vez-repullo-a9885566/">
                        Carlos Chaves Repullo
                      </a>
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </main>
    <footer class="shadow bg-gray-900">
      <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-center">
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Montaje de Muebles Carlos Chaves</span>
        </div>
        <hr class="my-6 sm:mx-auto border-gray-700 lg:my-8" />
        <span class="block text-sm sm:text-center text-gray-400">© 2023 Montaje de Muebles Carlos Chaves S.L. All Rights Reserved.</span>
      </div>
    </footer>
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
    ></script>
  </body>
</html>

<style>
  @import "tailwindcss/base";
  @import "tailwindcss/components";
  @import "tailwindcss/utilities";

  body {
    color: #fff;
  }

  #about {
    height: 95vh;
  }

  .centered-image {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
  }

  #default-carousel,
  #cards,
  #contact,
  footer {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
  }

  #cards > div {
    justify-content: center;
  }

  #cards > div > div > span {
    font-size: 2.5rem;
  }

  @media (max-width: 464px) {
    body > nav > div > div.flex.items-center > span {
      width: 250px;
    }
  }
</style>
